[profile.default]
src = "contracts"
test = "test"
out = "out"
libs = ["lib"]
remappings = [
    "@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/",
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "forge-std/=lib/forge-std/src/"
]
bytecode_hash = "none"
optimizer = true
optimizer_runs = 200
evm_version = "cancun"
solc_version = "0.8.25"